{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% extends "base.html" %}

{% block content %}
    <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}    
        <div class="col-md-12">
            Required Fields:<br>
            <ul>
            {% for f in req_fields %}
                <li>{{ f }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-12">
            {{wtf.quick_form(form)}}
        </div>
        <h3>Results:</h3>
        <div class="col-md-12">
            <code>
{{ output }}
            </code>
        </div>        
    </div>
{% endblock %}