{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Welcome to the Data Quality Harness, you can use the following pages to run the defined workflow:

                <ul>
                    <li><a href="{{ url_for('batch') }}">Process File</a></li>
                    <li><a href="{{ url_for('single') }}">Manual Entry</a></li>
                </ul>

                Alternatively, this server can be used as <a href="{{ url_for('apidocs') }}">an API</a>.
            </div>
        </div>
    </div>
{% endblock %}